<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <form action="/donate" method="post">
    {% ifequal subject.status "view" %}
      {% ifnotequal game.turn 1 %}
      You had donated {{ send }} tokens out and received {{ receive }} tokens from others.<br/><br/>
      {% endifnotequal %}
      Your current balance: {{ subject.money }} tokens.<br/>
      <br/>
      
      {% for friend in friends %}
        <div>{{ friend.name }}’s balance: {{friend.money}} tokens</div>
      {% endfor %}
      <br/>
      Would you like to make any donation to your fellow subjects? <br/>
      <div><input type="submit" name="status" value="Yes">   <input type="submit" name="status" value="No"></div>
    {% else %} {% ifequal subject.status "send" %}
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
      <script>
      function check(divId)
      {
          if($(divId).val().search(/^[0-9]+$/) != 0)
          {
            $(divId).val("0");
          }
          var total = 0;
          {% for friend in friends %}
          total += parseInt($("#{{ friend.name }}").val(), 10);
          {% endfor %} 
          if(total > parseInt("{{ subject.money }}", 10))
          {
            $(divId).val("0");
            alert("Not Enough Tokens!!");
          }

      }
      
        
      </script>
      Your current balance: {{ subject.money }} tokens.<br/>
      <br/>
      Please indicate how much you would like to donate to each of the following:<br/><br/>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspYour donation:<br/>
      <br/>
      {% for friend in friends %}
        <div>{{ friend.name }}’s balance: {{friend.money}} tokens &nbsp &nbsp &nbsp &nbsp<input type="text" name="{{ friend.name }}" id="{{ friend.name }}" value="0" onkeyup=check("#{{ friend.name }}")></div>
      {% endfor %}<br/>
      <div><input type="submit" name="status" value="Send" id="send"></div>
    {% else %} {% ifequal subject.status "done" %}
      <script>
      setTimeout("window.location.reload()",1000)
      </script>
      <div>Thank you. Please wait and we will proceed once everyone is done with their part.</div>
    {% endifequal %}{% endifequal %}{% endifequal %}
    </form>
    <a href="{{ url }}">{{ url_linktext }}</a>
  </body>
</html>
