<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <form action="/donate" method="post">
    {% ifequal subject.status "send" %}
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
      <script>
      function check(divId)
      {
          if($(divId).val().search(/^[0-9]+$/) != 0)
          {
            $(divId).val("0");
          }
          var total = 0;
	  $(divId).val(parseInt($(divId).val(), 10).toString());
          {% for friend in friends %}
          total += parseInt($("#{{ friend.name }}").val(), 10);
          {% endfor %} 
          if(total > parseInt("{{ subject.money }}", 10))
          {
            $(divId).val("0");
            alert("Not Enough Tokens!!");
          }

      }
      function time_up()
      {
        var paras = new Array();
        {% for friend in friends %}
        paras["{{ friend.name }}"] = $("#{{ friend.name }}").val(); 
        {% endfor %}
        post_to_url("/donate", paras, "post");
      }
 
      function post_to_url(path, params, method) 
      {
        method = method || "post"; // Set method to post by default, if not specified.

        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", key);
          hiddenField.setAttribute("value", params[key]);
          form.appendChild(hiddenField);
        }

        document.body.appendChild(form);    // Not entirely sure if this is necessary
        form.submit();
      }
      setTimeout("time_up()", {{ countdownTime }});
      
      </script>
      {{ error_msg }}
      You are {{ subject.name }}.<br/>
      {% ifnotequal turn 1 %}
        The record shows that you donated a total of {{ send }} tokens to other participants in the previous round. In the meantime, you received a total of {{ receive }} tokens donated from others in the previous round.
      {% endifnotequal %}
      Your current balance is: {{ subject.money }} tokens.<br/>
      <br/>
      
      The balances of other participants’ accounts are shown as follows.
      {% if showGlobal %}
        {% for s in globals %}
          {{ s.name }}’s balance: {{s.money}} tokens<br/>
        {% endfor %}<br/>
      {% endif %}<br/>
      Now please indicate whether you would like to share your tokens with other participants. Insert a number in the box next to anyone you would like to donate tokens to. Note you can donate to more than one person if you want.<br/><br/>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Your donation:<br/>
      <br/>
      {% for friend in friends %}
        <div>{{ friend.name }}’s balance: {{friend.money}} tokens <input type="text" name="{{ friend.name }}" id="{{ friend.name }}" value="0" onblur=check("#{{ friend.name }}") style="position:absolute; left:255px;"></div>
      {% endfor %}<br/>
      <div><input type="submit" name="status" value="Send" id="send"></div>
    {% else %} {% ifequal subject.status "done" %}
      <script>
      setTimeout("window.location.reload()",1000)
      </script>
      <div>Thank you. We are now processing everyone’s decision and will move on to the next round soon. Thank you for your patience.</div>
    {% endifequal %}{% endifequal %}
    </form>
  </body>
</html>
